[Desktop Entry]
Comment=Gently-Color Global Theme
Name=Gently-Color-Global
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Gently-Color-Global
X-KDE-PluginInfo-Version=5.6
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1934138,kns://colorschemes.knsrc/api.kde-look.org/1934133,kns://plasma-themes.knsrc/api.kde-look.org/1934172,kns://icons.knsrc/api.kde-look.org/1934150,kns://icons.knsrc/api.kde-look.org/1934145,kns://aurorae.knsrc/api.kde-look.org/1934127,kns://aurorae.knsrc/api.kde-look.org/1934122,kns://aurorae.knsrc/api.kde-look.org/1934123,kns://wallpaper.knsrc/api.kde-look.org/1934109,kns://sddmtheme.knsrc/api.kde-look.org/1934120
